*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} 

:root{
  --primary-color:#E1E1E5;
  --secondary-color:#1F1F29;
}